ul
{
	    display: inline-block;
	list-style: none;

}
li
{
			   /*background: orange;*/
	   display: inline-block;
	   width: 140px;
	   height: 40px;
		text-align: center;
		line-height: 40px;

	}
a
{
	text-decoration: none;
	color: blue;
}
a:visited
{
color: red;
}
li:hover
{
	background-color: yellow;
			border: solid;
		border-color: red;
		border-width: 4px;

}

li.giaycaocap:hover:after
{
content: url(img/giaycaocap.jpg);
display: block;
position: absolute;	
top: 100px;	
}
li.aobongda:hover:after
{
content: url(img/aobongda.jpg);
display: block;
position: absolute;		
top: 100px;	
}
li.banghe:hover:after
{
content: url(img/banghe.jpg);
display: block;
position: absolute;	
top: 100px;		
}
li.hoaqua:hover:after
{
content: url(img/hoaqua.jpg);
display: block;
position: absolute;	
top: 100px;		
}
li.nuocuong:hover:after
{
content: url(img/nuocuong.jpg);
display: block;
position: absolute;		
top: 100px;	
}
